# dependencies
node_modules/

# builds
dist/
build/

# dotenv
.env
.env.claude
.env.ollama

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# logs
logs/

# TypeScript
*.tsbuildinfo